{{> menu active="about"}}

<section class="hero">
    <div class="hero-body has-text-centered">
        <p class="title ">
            PlaceMark: Final project Assignment for the Course Advanced Fullstack Programming Summersemester 2022</p>
        <p class="box">
            <i class="fas fa-atlas fa-10x" style="color:chocolate"></i>
            <i class="far fa-compass fa-4x" style="color:black"></i>
            <i class="fas fa-map-marker-alt fa-10x" style="color:darkgoldenrod"></i>
        </p>
    </div>
</section>