<form class="box" action="/category/{{category._id}}/addplacemark" method="POST">
<!--<form class="box" action="/category/6280c64c78662eafa9512205/addplacemark" method="POST">-->
    <label>Enter Placemark Details:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="text" placeholder="Enter Longitude" name="longitude">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Enter Latitude" name="latitude">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Enter Name" name="name">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Enter Description" name="description">
            </div>
        </div>
    </div>
    <button class="button is-primary">Add Placemark</button>
</form>
